<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/help/home.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" href="/vendors/useiconic/font/css/open-iconic.css" />
    <title>Dokumentasi PadiApp API</title>
</head>
<body>
    <div id="wrapper">
        <%- include('listofcontent') %>
        <%- include ('sidemenu') %>
        <div id="main">
            <strong>Work Order API</strong>
            <p>last update: 21 Desember 2021</p>
            <h1 id="client">Client</h1>
            <%- include('suspect')%>
            <%- include('prospect')%>
            <%- include('survey')%>
            <%- include('install')%>
            <%- include('ticket')%>
            <%- include('service')%>
            <%- include('device')%>
        </div>
    </div>
</body>
<script>
    (function($){
        $('#btnCloser').click(function(){
            $('#divListOfContent').toggle()
        })
        $("#btnTop").click(function(){
            document.documentElement.scrollTop = 0;
        })
    }(jQuery))
</script>
</html>