<!DOCTYPE html>
<html lang="en">
    <%- include('head')%>
<body>
    <div id="wrapper">
        <%- include('listofcontent') %>
        <%- include ('sidemenu') %>
        <div id="main">
            <strong>Work Order API</strong>
            <p>last update: 23 Desember 2021</p>
            <p>Server Simulasi: <i>192.168.0.117:20216</i>, Server Produksi: <i>192.168.0.117:20215</i></p>
            <h1 id="client">Client</h1>
            <%- include('suspect')%>
            <%- include('prospect')%>
            <%- include('survey')%>
            <%- include('install')%></i>
            <%- include('ticket')%>
            <%- include('service')%>
            <%- include('device')%>
        </div>
    </div>
</body>
<script>
    (function($){
        $('#btnCloser').click(function(){
            $('#divListOfContent').toggle()
            $(".sidebar").toggle()
        })
        $("#btnTop").click(function(){
            document.documentElement.scrollTop = 0;
        })
        $("#btnDownload").click(function(){
            window.print()
        })
        $('#btnFind').click(function(){
            $('#txtSearch').toggle();
        })
        $('#btnSearch').click(function(){
            window.find($('#txtSearch').val(),false,false,true,true)
        })
        $('#txtSearch').on('focus',function(){
            $(this).select()
        })
    }(jQuery))
</script>
</html>